{% extends 'base.html.twig' %}

{% block body %}
<h1>Test Technique JobiJoba</h1>
  <p>
    Le but de cet exercice est de construire une petite application en PHP en utilisant le framework Symfony.
  </p>
  <p>
    Cette application doit : <br />
    - Récupérer les 10 offres d'emploi les plus récentes sur Bordeaux à partir de l'API "API Offres d'emploi v2" de l'emploi-store-dev.fr (Pôle Emploi).<br />
    - Proposer une jolie page (avec du CSS) qui présente ces offres<br />
    - Pour chaque offre, afficher :<br />
        - l'intitulé<br />
        - la description<br />
        - le lieu<br />
        - le type de contrat<br />
        - l'entreprise<br />
  </p>
{% endblock %}
